@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--light-gray);
  font-family: "Outfit", sans-serif;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
h1 {
  color: var(--dark-blue);
  font-size: 21px;
  font-weight: 700;
  padding: 1rem 0;
  text-align: center;
}
p {
  color: var(--dark-blue);
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 1rem;
  text-align: center;
}

.container {
  display: grid;
  width: 300px;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 16px;
}
.image > img {
  border-radius: 8px;
}
.info {
  padding: 0 0.6rem;
}
